.container {
    background: #FFFFFF;
    position: relative;
    width: 1440px;
    height: 689px;
    top: 345px;
    left: 704px;


    display: flex;

}



.container .img-1 {
    position: absolute;

    left: 1.46%;
    right: 7.28%;
    top: 18.60%;
    bottom: 18.72%;
    width: 335.1px;


    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./image/rome.png) no-repeat;


}




.container .img-2 {
    box-sizing: border-box;


    position: absolute;
    left: 26.11%;
    right: 50.62%;
    top: 18.58%;
    bottom: 18.72%;

    background: url(./image/boat.png);
    border: 1px solid #000000;
}

.container .img-3 {
    position: absolute;
    left: 50.76%;
    right: 25.97%;
    top: 18.72%;
    bottom: 18.7%;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./image/sand-and-sea.png);

}

.container .img-4 {
    position: absolute;
    left: 75.47%;
    right: 1.26%;
    top: 18.72%;
    bottom: 18.7%;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./image/starry-night.png);
}





.img-1 .im1 {
    position: relative;
    left: 3.44%;
    right: 75.28%;
    top: 77.33%;
    bottom: 18.72%;

}

.img-1 .im2 {
    position: relative;
    left: 3.44%;
    right: 75.28%;
    top: 77.33%;
    bottom: 18.72%;

}

.img-2 .im1 {
    position: relative;
    left: 3.44%;
    right: 59.1%;
    top: 77.33%;
    bottom: 28.59%;

}

.img-2 .im2 {
    position: relative;
    left: 3.44%;
    right: 59.1%;
    top: 77.33%;
    bottom: 28.59%;

}

.img-3 .im1 {
    position: relative;
    left: 3.44%;
    right: 25.97%;
    top: 77.33%;
    bottom: 28.59%;

}

.img-3 .im2 {
    position: relative;
    left: 3.44%;
    right: 25.97%;
    top: 77.33%;
    bottom: 28.59%;

}

.img-4 .im1 {
    position: relative;
    left: 3.44%;
    right: 25.97%;
    top: 77.33%;
    bottom: 28.59%;

}

.img-4 .im2 {
    position: relative;
    left: 3.44%;
    right: 25.97%;
    top: 77.33%;
    bottom: 28.59%;

}

.container-2 {
    background: #FFFFFF;
    position: absolute;
    width: 375px;
    height: 1817px;
    top: 1116px;
    left: 1251.5px;
    display: flex;
    flex-direction: column;

    align-items: center;




}

.container-2 .imgv-1 {
    position: absolute;


    width: 335px;
    height: 431.03px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./image/rome.png) no-repeat;
    top: 2.35%;
}

.container-2 .imgv-2 {
    position: absolute;
    top: 26.20%;

    width: 335px;
    height: 431.18px;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./image/boat.png);

}

.container-2 .imgv-3 {
    position: absolute;

    top: 50.05%;
    width: 335px;
    height: 431.18px;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./image/sand-and-sea.png);
}

.container-2 .imgv-4 {
    position: absolute;
    width: 335px;
    height: 431.18px;
    bottom: 2.35%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./image/starry-night.png);
}


/* TEXTOS CONTAINER 2 */

.im1 {



    font-family: 'public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;


    color: #FFFFFF;
}

.im2 {

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;

}

.imgv-1 .im1 {
    position: absolute;
    top: 81.2%;
    left: 6.9%;
}

.imgv-1 .im2 {
    position: absolute;
    top: 88.2%;
    left: 6.9%;
}

.imgv-2 .im1 {
    position: absolute;
    top: 81.2%;
    left: 6.9%;
}

.imgv-2 .im2 {
    position: absolute;
    top: 88.2%;
    left: 6.9%;
}

.imgv-3 .im1 {
    position: absolute;
    top: 81.2%;
    left: 6.9%;
}

.imgv-3 .im2 {
    position: absolute;
    top: 88.2%;
    left: 6.9%;
}

.imgv-4 .im1 {
    position: absolute;
    top: 81.2%;
    left: 6.9%;
}

.imgv-4 .im2 {
    position: absolute;
    top: 88.2%;
    left: 6.9%;
}

@media screen and (max-width: 576px) {
    .container {
        left: 10px;



    }

    .container-2 {
        left: 540px;
    }
                 
        }

        @media screen and (min-width: 577px) and (max-width: 768px) {
            .container{
                left: 300px;
            }

            .container-2{
                left: 840px;
            }
        }

        
    